<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Webapp Demo</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="stylesheet" href="../static/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" />
    </head>
    <body>
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-sm rounded-sm mt-5">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-1" th:text="${@environment.getProperty('app.title')}">Application Title</h3>
                            </div>
                            <div class="card-body">
                                <div th:if="${successMsg}" class="alert alert-success" role="alert">
                                    <div th:each="msg : ${successMsg}" th:text="${msg}"></div>
                                </div>
                                <div th:if="${param.error}" class="alert alert-danger" role="alert">Invalid username and password.</div>
                                <div th:if="${param.logout}" class="alert alert-success" role="alert">You have been logged out.</div>
                                <form th:action="@{/login}" method="post">
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputUsername">Username</label>
                                        <input class="form-control py-4" id="inputUsername" type="text" name="username" placeholder="Enter username" />
                                    </div>
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputPassword">Password</label>
                                        <input class="form-control py-4" id="inputPassword" type="password" name="password" placeholder="Enter password" />
                                    </div>
                                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                        <input class="btn btn-lg btn-block btn-primary" type="submit" value="Sign In"/>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center">
                                <div class="small"><a href="" th:href="@{/registration}">Need an account? Sign up!</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script src="../static/vendor/jquery/jquery.slim.min.js" th:src="@{/vendor/jquery/jquery.slim.min.js}"></script>
    </body>
</html>